<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3> I am in the app component </h3>
      <hr>
        <!-- <app-servers></app-servers> -->
        <!-- <div app-servers>
          
            /* Now the app will work again because now angular
               selects the element by the attribute not by the element itself because we change the
               selector in servers.component.ts file
              
               Another alternative is to select by class
              */
        </div> 
        
        <div class="app-servers"></div>
      -->
      <!-- <script>
        let n = 10
        let a = 10
        let b = ""
        for (let i = 1; i < n; i++) {
          for (let j = 1; j < a; j++) {
            if (i + j >= b) {
              b = b.concat("*")
            } else {
              b = b.concat(" ")
            }
          }
          b = b.concat("\n")
        }
        console.log(b)



        var b = ""
        for (var i = 1; i < n; i++) {
          for (var j = 1; j < a; j++) {
            if (i <= j) {
              b = b.concat("*")
            }
            else {
              b = b.concat(" ")
            }
          }
          b = b.concat("\n")
        }
        console.log(b)

        *
       **
      ***
     ****
    *****
   ******
  *******
 ********
*********






        var b = ""
        for (var i = 1; i < n; i++) {
          for (var j = 1; j < a; j++) {
            if (i <= j) {
              b = b.concat("*")
            }
            else {
              b = b.concat(" ")
            }
          }
          b = b.concat("\n")
        }
        console.log(b)

*********
 ********
  *******
   ******
    *****
     ****
      ***
       **
        *



        var n = 10
          var a = 10
          var b = ""
          for (var i = 1; i < n; i++) {
            for (var j = 1; j < a; j++) {
              if (i + j >= n) {
                b = b.concat("*")
              }else {
                b = b.concat(" ")
              }
            }
            b = b.concat("\n")
          }
    console.log(b)
    
        *
       **
      ***
     ****
    *****
   ******
  *******
 ********
*********



var i,j,k,n = 10
var a=""
for(i=0;i<=n;i++){
  for(k=n-i;k>0;k--){
    console.log(a)
  }
  for(j=(2*i+1);j>0;j--){
    console.log(*)
  }
  \n
}







function Pyramid(n) {
  for (var i = 0; i < n; i++) {
    var a = '';
    for (var j = 1; j < n-i; j++) {
      a = a + ' ';
    }
    for (var k = 1; k <= (2*i+1); k++) {
      a = a + '*';
    }
    console.log(a);
  }
}




      </script> -->
    </div>
  </div>
</div>